@import '../../styles/loader';

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-content {
        background-color: $white;
        margin: 0 auto;
        max-width: 500px;
        height: 200px;
        border-radius: 0.25rem;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $mobile) {
            max-width: 300px;
        }

        .header {
            color: $black;
            text-align: center;
            font-weight: 300px;
            font-family: $secondary-font;
        }
    }
}