@import '../../styles/loader';

.sub-header {
    color: $white;
    font-family: $secondary-font;
    font-size: 40px;
    font-weight: normal;

    @media screen and (max-width: $mobile-portrait) {
        font-size: 20px;
    }
}