@import '../../styles/loader'; 

.homehero {
    background: url(../../assets/images/hero-image.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    top: 0;
    width: 100%;

    &::after{
        content: '';
        position: absolute;
        background-image: url(../../assets/images//dark-hero.svg);
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;

    }
    &-inner{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-firstword{
            color: $white;
            font-size: 3rem;
            z-index: 10;
            font-family: $secondary-font;

            @media screen and (max-width: $mobile) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        &-secondword{
            font-size: 6rem;
            z-index: 10;
            text-align: center;
            font-family: $primary-font;
            background: linear-gradient(to right, #F8BD01, #916100);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent; 
            text-shadow: 0 0 5px #F8BD01, 0 0 10px #F8BD01, 0 0 20px #F8BD01, 0 0 40px #916100, 0 0 80px #916100;
            animation: glow 1.5s infinite alternate;
            
            @media screen and (max-width: $mobile) {
                font-size: 5rem;
            }
        }
    }

}


@keyframes glow {
    0% {
        text-shadow: 0 0 5px #916100, 0 0 10px #F8BD01, 0 0 30px #916100, 0 0 50px #916100, 0 0 100px #916100;
    }
    100% {
        text-shadow: 0 0 5px #F8BD01, 0 0 10px #916100, 0 0 30px #F8BD01, 0 0 50px #F8BD01, 0 0 100px #F8BD01;
    }
}