@import '../../styles/loader';
@import '../../styles/fonts';

.footer{
    background-image: url(../../assets/images/footer-cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;

    &-inner{
        padding: 0 7rem;
        position: relative;
        z-index: 2;
        font-family: $secondary-font;

        @media screen and (max-width: $tablet) {
            padding: 0 2rem;
        }
    }
    

    &::after{
        content: '';
        background: url(../../assets/svgs/darktint.svg);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        padding: 10rem 2rem 0;
        align-items: flex-end;

        
        @media screen and (max-width: $tablet) {
            padding: 10rem 0 0;
            align-items: flex-start;
            justify-content: flex-start;
             
         }

        &::after{
            content: '';
            background-image: url(../../assets/svgs/footer-divider.svg);
            width: 100%;
            height: 1rem;
            position: absolute;
            bottom: -3.5rem;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    .backtoTop{
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 2;
        bottom: -5px;
        right: 0;
        color: white;
        font-family: $secondary-font;
        font-size: 14px;
        padding-right: 2rem;
        transition: 0.5s ease-in-out;

        
        @media screen and (max-width: $tablet) {
           
         }

        &::after{
            content: '';
            background-image: url(../../assets/svgs/mouse.svg);
            position: absolute;
            width: 18px;
            height: 23px;
            right: 0;
            top: 0;
            background-repeat: no-repeat;
            transition: 0.5s ease-in-out;
        }

        &:hover{
            color: #FFC300;
            &:after{
                transition: 0.5s;
                transform: translateY(-10px);
            }
        }
    }

    &-details{
        padding: 6.5rem 0 4rem;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
        }

        &:after{
            content: '';
            position: absolute;
            background-image: url(../../assets/svgs/footer-lower.svg);
            height: 1rem;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
        }

        .main-details{
            display: flex;
            width: 100%;

            @media screen and (max-width: $tablet) {
                flex-direction: column;
                border-bottom: 1px solid #FFC300;
            }
        }

        .title{
            font-size: 24px;
            font-weight: 400;
            padding-bottom: 1.5rem;
        }

        &-address{
            color: white;
            font-family: $secondary-font;
            flex: 0 50%;
            max-width: 50%;
            padding-bottom: 2rem;

            .location,
            .tel,
            .email{
                font-weight: 200;
                font-size: 18px;
                padding-bottom: 0.3rem;
            }
        }

        &-quick-links{
            color: white;
            font-family: $secondary-font;
            flex: 0 50%;
            max-width: 50%;
            padding-bottom: 2rem;

            .links{
                list-style: none;
                color: white;
                display: flex;
                flex-direction: column;
                padding-bottom: 0.3rem;
                font-weight: 200;
                font-size: 18px;
                width: fit-content;
        
            }
        }

        &-appointment{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;

            @media screen and (max-width: $tablet) {
               margin-top: 3rem;
               width: 100%;
                
            }


            .button{
                background-color: transparent;
                padding: 0.8rem 3.5rem 0.8rem 1.3rem;
                border: 1px solid white;
                color: white;
                font-family: $secondary-font;
                border-radius: 5px;
                font-size: 16px;
                width: fit-content;
                margin-bottom: 2rem;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    background-image: url(../../assets/svgs/scissors-small.svg);
                    width: 25px;
                    height: 25px;
                    right: 12px;
                    top: 12px;
                }
            }

            iframe{
                border-radius: 7px;
                
                @media screen and (max-width: $tablet) {
                    width: 100%;
                    
                }
            }
        }
    }

    .copyrights{
        font-weight: 300;
        color: white;
        text-align: center;
        padding: 1.5rem 0 ;

        span{
            font-weight: bold;
        }
    }
}